/* Base */

#awwwards{
	position: fixed;
	top: 139px;
	width: 90px;
	height: 135px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;

	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#awwwards.top{
	top: 20px;
}
#awwwards.left{
	left: 0;
}
#awwwards.right{
	right: 0;
}

#awwwards a {
    position: fixed;
    top: 135px;
    right: 0 !important;
    display: block;
    width: 90px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: 90px 135px;
}




#awwwards.nominee.white.right a{
	background-image: url(../img/awwwards_nominee_white_right.png);
}


@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),	only screen and (min-device-pixel-ratio: 1.5) {


	#awwwards.nominee.white.right a{
		background-image: url(../img/awwwards_nominee_white_right@2x.png);
	}


}

@media screen and (max-width:486px){


	#awwwards.nominee.white.right a {
   background-image: url(../img/awwwards_nominee_white_right@2x.png);
     height: 80px;
    width: 80px;
    background-size: contain;
    background-position-x: right;
    z-index: 99999999999;
}

#awwwards a {
   
    top: 115px;

}

#awwwards{
top: 115px;
	z-index: 999999;
}
}